.participantContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 5px 15px;
    border-bottom: black 1px solid;
    height: 65px;
    cursor: pointer;
}
.participantImg{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    justify-content: start;
}
.participantName{
    font-weight: 700;
    font-size: 15px;
}
.messageTime{
    font-size: 12px;
    margin-left: auto;
}